@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';
@import 'tailwindcss/utilities';


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";



@layer components {
    #tabladatos_wrapper .dt-length select {
        @apply px-5;
    }

    /* ----- testimonios ----- */
    .custom-swiper-buttons .swiper-button-prev,
    .custom-swiper-buttons .swiper-button-next {
        @apply !w-[50px] !h-[50px];
    }
    .custom-swiper-buttons .swiper-button-prev:after,
    .custom-swiper-buttons .swiper-button-next:after {
        @apply content-[''] block w-[50px] h-[50px] bg-center bg-no-repeat bg-cover;
    }

    .custom-swiper-buttons {
        @apply relative hidden left-0 top-[50%] w-44 lg:w-full justify-center lg:justify-between w-auto;
    }

    .custom-swiper-buttons .swiper-button-prev {
        @apply absolute top-[50px] lg:top-0 left-[33%] md:left-[40%] lg:-left-[100px] z-[1000];
    }

    .custom-swiper-buttons .swiper-button-next {
        @apply absolute top-[50px] lg:top-0 right-[33%] md:right-[40%]  lg:-right-[100px] z-[1000];
    }
}

.hamburguesa {
    @apply w-10 h-10 rounded-lg cursor-pointer;
}

.menu:checked ~ label p:nth-child(2) {
    @apply hidden;
}

.menu:checked ~ label p:nth-child(1) {
    @apply -rotate-45 translate-y-[3px];
}

.menu:checked ~ label p:nth-child(3) {
    @apply rotate-45 -translate-y-[5px];
}

/*  */

@layer utilities {
    .clip-circle-0 {
        clip-path: circle(0% at top right);
    }

    .clip-circle-full {
        clip-path: circle(150% at top right);
    }
}


