@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';


@font-face {
    font-family: "font_MediumDisplay";
    src: url("../Fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_MediumItalicDisplay";
    src: url("../Fonts/HelveticaNowDisplay-MedIta.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_BoldDisplay";
    src: url("../Fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_BoldItalicDisplay";
    src: url("../Fonts/HelveticaNowDisplay-BoldIta.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_RegularDisplay";
    src: url("../Fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_RegularItalicDisplay";
    src: url("../Fonts/HelveticaNowDisplay-RegIta.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_LightDisplay";
    src: url("../Fonts/HelveticaNowDisplay-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_LightItalicDisplay";
    src: url("../Fonts/HelveticaNowDisplay-LightIta.woff") format("woff");
  }
  


