@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';
@import 'tailwindcss/utilities';


@layer components {
    .active-color {
      @apply cursor-pointer border-3 transition border-black;
    }
}

@font-face {
    font-family: "font_MediumDisplay";
    src: url("../fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_MediumItalicDisplay";
    src: url("../fonts/HelveticaNowDisplay-MedIta.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_BoldDisplay";
    src: url("../fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_BoldItalicDisplay";
    src: url("../fonts/HelveticaNowDisplay-BoldIta.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_RegularDisplay";
    src: url("../fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_RegularItalicDisplay";
    src: url("../fonts/HelveticaNowDisplay-RegIta.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_LightDisplay";
    src: url("../fonts/HelveticaNowDisplay-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "font_LightItalicDisplay";
    src: url("../fonts/HelveticaNowDisplay-LightIta.woff") format("woff");
  }
  


